.taskContainer {
  @apply w-80 bg-teal-400 p-4 rounded-md shadow-lg mt-8;
}

.taskHeader {
  @apply text-white font-semibold text-lg mb-3;
}

.taskBody {
  @apply bg-gray-200 rounded-md p-3 h-64 overflow-y-auto space-y-3;
}

.taskStyle {
  @apply mb-1 hover:bg-gray-300 p-1 rounded;
}

.taskOptionsContainer {
  @apply flex justify-between items-center w-full
}

.taskOptionsIcons {
  @apply flex items-center gap-2
}

.categoriaPersonal {
  background-color: #fbb6ce;
  /* bg-pink-200 */
  color: #9b2c2c;
  /* text-pink-800 */
}

.categoriaTrabajo {
  background-color: #c6f6d5;
  /* bg-green-200 */
  color: #2f855a;
  /* text-green-800 */
}

.categoriaEstudio {
  background-color: #bee3f8;
  /* bg-blue-200 */
  color: #2b6cb0;
  /* text-blue-800 */
}

.categoriaOtro {
  background-color: #fefcbf;
  /* bg-yellow-200 */
  color: #b7791f;
  /* text-yellow-800 */
}

.editIcon {
  @apply text-blue-600 hover:text-blue-800 cursor-pointer text-[16px]
}

.deleteIcon {
  @apply text-red-600 hover:text-red-800 cursor-pointer ml-2 text-[16px]
}

.taskButton {
  @apply mt-3 w-full bg-emerald-500 text-white py-2 rounded-md hover:bg-emerald-700 hover:scale-105 transition-transform;
}

.h3Style {
  @apply text-lg font-semibold mb-4;
}

.inputStyle {
  @apply w-full p-2 border rounded-md mb-4;
}

.modalButton {
  @apply bg-teal-500 text-white px-4 py-2 rounded-md hover:bg-teal-700;
}